.servicesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}
.serviceIntro {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}