.servicesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}
.serviceIntro {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}
.experience{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.awards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.award{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: var(--fw-semibold);
}
.award svg {
    color: var(--color-gold-500);
}
@media (min-width: 1000px) {
    .experience {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .experience > * {
        width: 50%;
    }
    .experience img {
        display: block;
        height: 100%;
        object-fit: cover;
    }
}