.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.imageContainer {
  height: auto;
  aspect-ratio: 3/3;
  overflow: hidden;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 1000px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .content > * {
    width: 50%;
  }
}
